body {
  font-family: "Roboto": sans-serif;
  color: #434455;
  background-color: #ffffff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.logo-header {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height:  1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.logo-header2 {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height:  1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
address{
  font-style: normal
}
.page-link .link:hover,
.page-link .link:focus{
  color: #404bbf
}

.page-link .link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.main-information{
background-color:#2e2f42;
}
.main-strategy{
font-size: 56px;
    line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.page-contacts .contacts {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.page-contacts .contacts:hover,
.page-contacts .contacts:focus {
  color: #4d5ae5;
}
.main {
  background: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto;
  flex-shrink: 0;
}
.main-h {
  color: var(--WHITE, #fff);
  text-align: center;
  line-height: 1.07 

  /* Header 1 */
   font-family:"Roboto";
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 107.143% */
  letter-spacing: 1.12px;
}
.button-main-order {
  border-radius: 4px;
  background-color: #4D5AE5
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-family: "Roboto", sans-serif ;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.button-main-order:hover,
.button-main-order:focus {
  border-radius: 4px;
  background-color: #404BBF
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.informattion-h2 {
  display: none;
  line-height: 1.2;
}
.information-paragraph{
  letter-spacing: 0.02em ;
}
.main-team{
  background-color: #F4F4FD
}

.main-description .description-page {
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02px;
}
.portfolio{
  line-height: 1.11;
  font-size: 36px ;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color:#2e2f42;
}
.portfolio1{
  font-size: 20px;
    font-weight: 500;
  line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.main-site-app{
  background-color: #FFFFFF
}
.team-paragraph{
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color:#434455 ;
}
.site-paragraph{
  font-size: 16px ;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:  #434455;
}
.site-apps{
  background-color: #F4F4FD
}
.team-h2 {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-name{
  line-height: 1.2;
}
.img-team {
  background: url(<path-to-image>),
    lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
    background-color: #FFFFFF
}
.site-abzac{
  line-height: 1.2;
}
footer {
  background: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
}
.footer-logo2 {
  color: var(--CLOUD, #f4f4fd);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  color:#F4F4FD;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
}
